nav {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    #cart {
        margin-right: 5%;
    }
    #nav-items {
        @media (max-width: 550px) {
            margin-left: 5%;
            width: 50%;
        }
        margin-left: 5%;
        display: flex;
        width: 20%;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.Items {
    display: grid;
    margin: auto;
    row-gap: 5%;
    column-gap: 5%;
    @media (max-width: 450px) {
        width: 90%;
        grid-template-columns: auto;
        row-gap: 5px;
    }
    @media (min-width: 451px) {
        width: 90%;
        grid-template-columns: auto auto;
        row-gap: 10px;
    }
    @media (min-width: 801px) {
        width: 80%;
        grid-template-columns: auto auto auto;
    }
    @media (min-width: 1201px) {
        grid-template-columns: auto auto auto;
        width: 50%;
    }
}

.allItems {
    .firstRow {
        display: flex;
        justify-content: space-around;
    }
    .secondRow {
        width: 100%;
    }
    .image {
        width: 50%;
        svg {
            height: 100px;
            width: auto;
        }
    }
    .name {
        width: 90%;
    }
    .description {
        margin: 0;
        width: 30%;
    }
    .addToCart {
        display: flex;
        justify-content: flex-end;
    }
}

.detailInfo {
    width: 50%;
    margin: auto;
    .firstRow {
        display: flex;
        justify-content: space-around;
    }
    .secondRow {
        display: flex;
        justify-content: space-evenly;
    }
    .image {
        svg {
            height: 100px;
            width: auto;
        }
    }
    .name {
        width: 50%;
    }
    .description {
        margin: 0;
        width: 30%;
    }
    .addToCart {
        display: flex;
        width: 91%;
        justify-content: flex-end;
    }
}